---
import { type CollectionEntry, getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import Section from '../../components/Section.astro';


export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<Base head={{ title:SITE_TITLE, description:SITE_DESCRIPTION}}>
<Section>
	<div class="text-sm">
		<h1 class="text-3xl font-bold">{post.data.title}</h1>
		<p class="py-2">
			<div class="post">
				<Content />
			</div>
		</p>
	</div>
</Section>
</Base>
